
<html lang="en">
    <head>
        <title>Library</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container">
            <br/><br/><br/>
            <center>
            <h2>LIBRERÍA INFOMETRIKA</h2><br/>
            <h4>Encuentra algún libro aquí:</h4>
            </center>  
            <input class="form-control" id="myInput" type="text" placeholder="Search.."><br>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>#Páginas</th>
                    <th>Autor(es)</th>
                    <th>Idioma</th>
                    <th>Editorial</th>
                    <th>Editar</th>
                </tr>
                </thead>
                <tbody id="myTable">
                    {%for book in library%}
                        <tr>
                            <td>{{book.title}}</td>
                            <td>{{book.pages}}</td>
                            <td>
                                {%for author in book.author.all%}
                                {{author}}<br/>
                                {%endfor%}
                            </td>
                            <td>{{book.idiom}}</td>
                            <td>{{book.editorial}}</td>
                            <td>
                                <button class="btn"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button class="btn"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>

            <br/><br/><br/>
            <center>
            <h4>Ingresar nuevo:</h4>
            <button type="button" class="btn btn-link" onclick="location.href = 'http://127.0.0.1:8000/api/author/';"><strong>AUTOR</strong></button>
            <button type="button" class="btn btn-link" onclick="location.href = 'http://127.0.0.1:8000/api/book/';"><strong>LIBRO</strong></button>
            </center>

        </div>

        <script>
            $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            });
        </script>
    </body>
</html>
    










    

