{%extends 'bootstrap_starter.html' %}

{%block content%}

    <center><h1>LIBRERÍA INFOMETRIKA</h1><br/>
    <h2>Libros disponibles:</h2></center>

    <br/><hr>   
    {%for book in library%}
        <div id="book">
        <strong> {{book.title}} </strong> ({{book.pages}} páginas) <br/>
        <li> Autor: {{book.author.all}} </li> 
        <li> Idioma: {{book.idiom}} </li>
        <li> Editorial: {{book.editorial}} </li>
        <hr>
        </div>
    {%endfor%}

    <br/><br/><br/>
    <center>
    <h5>Ingresar nuevo:</h5>
    <button type="button" class="btn btn-link" onclick="location.href = 'http://127.0.0.1:8000/api/author/';">AUTOR</button>
    <button type="button" class="btn btn-link" onclick="location.href = 'http://127.0.0.1:8000/api/book/';">LIBRO</button>
    </center>

{%endblock%}