{%extends 'bootstrap_starter.html' %}

{%block content%}

    <center><h2>EDITAR</h2><br/></center><br/>

    {%for book in book_info%}
        <strong> {{book.title}} </strong> ({{book.pages}} páginas) <br/>
        <li> Autor: {{book.author.all}} </li> 
        <li> Idioma: {{book.idiom}} </li>
        <li> Editorial: {{book.editorial}} </li>
        <hr>
    {%endfor%}

    <hr>
    <hr>

    {%for author in author_info%}
        <strong> {{author.name}} </strong><br/>
        <li> Lugar de nacimiento: {{author.pob}} </li> 
        <li> Fecha de fallecimiento: {{author.death_date}} </li>
        <hr>
    {%endfor%}

{%endblock%}