{%extends 'bootstrap_starter.html' %}

{%block content%}

<div class="container">
    <button type="button" class="btn btn-link" onclick="window.location.href='http://127.0.0.1:8000/';">
        <i class="fas fa-arrow-left mx-2"></i>
        Library
    </button>
    <div class="text-center my-3">
        <h2>Writers</h2>
    </div>

    <div class="my-5">
        <div class="row justify-content-center mb-3">
            <div class="col-md-5 position-relative">
                <input class="form-control pl-3" style="padding-right: 2.5rem; border-radius: 5px;" id="searchInput"
                    type="text" placeholder="Search..." onkeyup="searchFunction()">
                <i class="fas fa-search position-absolute"
                    style="top: 50%; right: 25px; transform: translateY(-50%);"></i>
            </div>
        </div>

        <table id="writersTable" class="table table-bordered table-striped">
            <thead>
                <tr class="text-center">
                    <th>Name</th>
                    <th>Nationality</th>
                    <th>Death date</th>
                </tr>
            </thead>
            <tbody>
                {%for writer in writers%}
                <tr>
                    <td>{{writer.name}}</td>
                    <td>{{writer.get_pob_display}}</td>
                    <td>{{writer.death_date}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-end mb-3">
        <button type="button" class="btn btn-secondary"
            onclick="window.open('http://127.0.0.1:8000/api/writer/', '_blank');">
            New writer registration
        </button>
    </div>
</div>

<script>
    function searchFunction() {
        var input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("writersTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            if (tr[i].getElementsByTagName("th").length > 0) {
                continue;
            }

            var found = false;
            for (j = 0; j < tr[i].cells.length; j++) {
                td = tr[i].cells[j];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        found = true;
                        break;
                    }
                }
            }
            if (found) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
</script>

{%endblock%}